@inherits LayoutComponentBase

<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<div class="pageWrapper">
    <Header></Header>
	<div class="layout-boxed">
        <div id="page-content">
            @Body
        </div>
    </div>
</div>

