@page "/cart"

<HeadContent>

</HeadContent>
<!--Page Title-->
<div class="page section-header text-center">
    <div class="page-title">
        <div class="wrapper"><h1 class="page-width">Your cart</h1></div>
    </div>
</div>
<!--End Page Title-->

<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-8 col-lg-8 main-col">
            <form action="#" method="post" class="cart style2">
                <table>
                    <thead class="cart__row cart__header">
                        <tr>
                            <th colspan="2" class="text-center">Product</th>
                            <th class="text-center">Price</th>
                            <th class="text-center">Quantity</th>
                            <th class="text-right">Total</th>
                            <th class="action">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var cartLine in _cartLines)
                        {
                            <tr class="cart__row border-bottom line1 cart-flex border-top">
                                <td class="cart__image-wrapper cart-flex-item">
                                    <a href="#"><img class="cart__image" src="@cartLine.Image" alt="@cartLine.Name"></a>
                                </td>
                                <td class="cart__meta small--text-left cart-flex-item">
                                    <div class="list-view-item__title">
                                        <a href="#">@cartLine.Name </a>
                                    </div>
                                </td>
                                <td class="cart__price-wrapper cart-flex-item">
                                    <span class="money">$@cartLine.Price</span>
                                </td>
                                <td class="cart__update-wrapper cart-flex-item text-right">
                                    <div class="cart__qty text-center">
                                        <div class="qtyField">
                                            <a class="qtyBtn minus" @onclick:preventDefault @onclick:stopPropagation @onclick="() => ChangeQuantity(cartLine, false)"><i class="icon icon-minus"></i></a>
                                            <input class="cart__qty-input qty" type="text" name="updates[]" id="qty" value="@cartLine.Qty" pattern="[0-9]*">
                                            <a class="qtyBtn plus" @onclick:preventDefault @onclick:stopPropagation @onclick="() => ChangeQuantity(cartLine, true)"><i class="icon icon-plus"></i></a>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-right small--hide cart-price">
                                    <div><span class="money">$@((cartLine.Price * cartLine.Qty).ToString("0.00"))</span></div>
                                </td>
                                <td class="text-center small--hide"><a href="#" class="btn btn--secondary cart__remove" title="Remove tem" @onclick="() => RemoveLine(cartLine)"><i class="icon icon anm anm-times-l"></i></a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </form>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 cart__footer">
            <div class="solid-border">
                <div class="row">
                    <span class="col-12 col-sm-6 cart__subtotal-title"><strong>Subtotal</strong></span>
                    <span class="col-12 col-sm-6 cart__subtotal-title cart__subtotal text-right"><span class="money">$@(_cartLines.Sum(_ => _.Price * _.Qty).ToString("0.00"))</span></span>
                </div>
                <div class="cart__shipping">Shipping &amp; taxes calculated at checkout</div>
                <p class="cart_tearm">
                    <label>
                        <input type="checkbox" name="tearm" id="cartTearm" class="checkbox" value="tearm" required="">
                        I agree with the terms and conditions
                    </label>
                </p>
                <input type="submit" name="checkout" id="cartCheckout" class="btn btn--small-wide checkout" value="Checkout" @onclick:preventDefault @onclick:stopPropagation @onclick="PlaceOrder">
                <div class="paymnet-img"><img src="assets/images/payment-img.jpg" alt="Payment"></div>
            </div>
        </div>
    </div>
</div>



